.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.dataContainer {
    width: 1200px;
    display: grid;
    grid-template-columns: 250px 1fr;
}

.list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.items {
    margin-top: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;

    overflow: auto;
}

.item {
    height: 120px;
    width: 580px;
    border: 1px solid darkgray;
    border-radius: 4px;
    padding: 16px;
    color: black;
}

.item + .item {
    margin-top: 16px;
}

.categories {

}

.categoriesHeader {

}

.categoriesList {
    list-style: none;
    margin: 0;
}

.category {
    cursor: pointer;
}

.categorySelected {
    font-weight: 700;
}

.listContainer {
    width: 1000px;
    display: flex;
    justify-content: flex-start;
}

.noBooksContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 48px;
}

.noBooksText {
    margin-bottom: 24px;
}
