.dataContainer {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: 250px minmax(300px, 700px);
    grid-template-rows: 1fr;
    grid-gap: 8px;
}

.listContainer {
    padding: 0 8px 0 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
