.details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
}

.title {
}

.author {
    font-size: 20px;
    margin-bottom: 12px;
}


.pages, .category {
    display: flex;
    font-size: 16px;
    margin-bottom: 0.4rem;
}

.pages > strong, .category > strong {
    margin-right: 8px;
}

.buttons {
    margin-top: 32px;
    align-self: center;
}

.buttons button {
    width: 80px;
}

.buttons > button + button {
    margin-left: 8px;
}
